<%= flash[:notice] %>
<table>
  <% @users.each do |user| %>
   <tr>
        <td><div class="round-image-50"><%= image_tag(user.avatar.url(:thumb)) %></div></td>
   	    <td><%= user.username %></td>
        <td><%= user.role%></td>
        <td><%= link_to "delete", user, method: :delete,
                                  data: { confirm: "Are you sure?" } %></td></tr>
  

  <% end %>
 </table>



