<!DOCTYPE html>
<html>
  <head>
    
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

<body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
      	<nav>
      	  <ul class="nav navbar-nav navbar-right">
            <% if  current_user && current_user.role == 'admin' %>
             <li><%= link_to "Add publisher",new_user_path %></li> 
            <% end %>
            <% if current_user %>
              <li><%= link_to "change password",users_change_password_path %></li> 
              <li><%= link_to "Edit Profile", edit_user_path(:current_user) %></li>
              <li><%= link_to "Logout", logout_path %></li>
              <li class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></li>
            <% else %>
              <li><%= link_to "Log in", login_path %></li>
            <% end %>
           
          </ul>
        </nav>
      </div>
       <div class="row">
        <div class="col-xs-12">
          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: "alert alert-#{name}" %>
          <% end -%>
        </div>
      </div>

    </header>
    <div class="container">
      <%= yield %>
    </div>
</body>
</html>

